header {
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
}

#items {
    width: 18px;
    height: 18px;
    background: black;
    border-radius: 50px;
    position: absolute;
    top: 11px;
right: 13px;
}

@media (min-width: 976px) {
    #items {
        width: 20px;
        height: 20px;
        top: 15px;
        right: 20px;
    }
}
