
#contents {
  box-shadow: 0px 9px 61px -13px rgba(0, 0, 0, 0.91);
  -webkit-box-shadow: 0px 9px 61px -13px rgba(0, 0, 0, 0.91);
  -moz-box-shadow: 0px 9px 61px -13px rgba(0, 0, 0, 0.91);
}

@media (min-width: 976px) {
  #details {
    box-shadow: 0px 9px 61px -13px rgba(0, 0, 0, 0.91);
    -webkit-box-shadow: 0px 9px 61px -13px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 0px 9px 61px -13px rgba(0, 0, 0, 0.91);
  }
}
